body {
  background-color: burlywood;
  font-family: Arial, sans-serif;
}

.form-container {
  background: white;
  width: 350px;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.list-container {
  background: white;
  width: 500px;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-sizing: border-box;

}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

.toggle-password {
  margin-bottom: 1rem;
  cursor: pointer;
  color: #007BFF;
  user-select: none;
}

/* Добавьте класс для контейнера приложения */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* горизонтальное центрирование */
  justify-content: center; /* вертикальное центрирование */
  box-sizing: border-box;
}